/* Andrej Velickov 0569/2022 */

h1 {
    margin: 20px 0 20px 40px;
}
table.border {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
    max-width: none;
    margin: 20px 0 0 40px;
}

table.border td {
    padding: 8px 8px;
    border: 2px solid black;
    font-size: 1.1em;
}

#profilpic{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 20px 0 0 40px;
}

