<!-- Andrej Velickov 0569/2022 -->
{% extends 'konobar/template.html' %}
{% load static %}

{% block title %} Raspored stolova {% endblock %}
{% block styles %}

    <link rel="stylesheet" href="{% static 'css/konobar/stolovi.css' %}">
{% endblock %}
{% block content %}
<h1>Raspored stolova</h1>
    <div class="floor">
    {% for p in polja %}
        {% if p.sto_id %}
            {% if p.zauzet %}
                <a>
                    <div class="table-disabled round cell"
                        data-x="{{ p.x }}" data-y="{{ p.y }}"
                        style="left: {{ p.x }}px; top: {{ p.y }}px;">
                        {{ p.sto_id }}
                    </div>
                </a>
            {% else %}
                <a href="{% url 'racun' p.sto_id %}">
                    <div class="table round cell"
                        data-x="{{ p.x }}" data-y="{{ p.y }}"
                        style="left: {{ p.x }}px; top: {{ p.y }}px;">
                        {{ p.sto_id }}
                    </div>
                </a>
            {% endif %}
        {% elif p.blokirano %}
            <div class="blocked-cell cell"
                 data-x="{{ p.x }}" data-y="{{ p.y }}"
                 style="left: {{ p.x }}px; top: {{ p.y }}px;">
            </div>
        {% else %}
            <div class="empty-cell cell"
                 data-x="{{ p.x }}" data-y="{{ p.y }}"
                 style="left: {{ p.x }}px; top: {{ p.y }}px;">
            </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}