<!-- Sofija Pavlovic 0340/2022  -->

{% extends 'admin/template.html' %}
{% load static %}
{% block title %}Pregled artikala{% endblock %}
{% block styles %}
     <link rel="stylesheet" href="{% static 'css/admin/pregled.css' %}">
{% endblock %}
{% block content %}
    <h1>Pregled tipova artikala</h1>
    <table>
            <th>ID</th>
            <th>Naziv</th>
        {% for a in artikli %}
        <tr>
            <td class="td1">{{ a.id }}</td>
            <td class="td1">{{ a.naziv }}</td>
            <td>
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ a.id }}">
                    <button type="submit" class="delete-btn" onclick="return confirm('Da li ste sigurni da želite da obrišete artikal?')">
                        <img src="{% static 'images/trash.png' %}" id="trash"  alt="Obriši" width="32" height="32">
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div>
        <a href="{% url 'dodaj_tip_artikla' %}">
            <button type="button" class="add-button">
                Dodaj novi tip artikla
            </button>
        </a>
    </div>

{% endblock %}
