/* Lazar Stanivukovic 0590/2022 */


h1 {
    margin: 20px 0 20px 40px;
}


table {
    border-collapse: collapse;
    width: auto;
    text-align: center;
    max-width: 90%;
    margin: 20px 0 20px 40px;
    font-family: Arial, sans-serif;
    table-layout: auto;
}

table th,
table td {
    padding: 8px 8px;
    border: 2px solid black;
    white-space: nowrap;
}

table td {
    text-align: center;
}

table tr:first-child td {
    font-weight: bold;
    background-color: #B8860B;
    color: white;
}


table tr td:first-child {
    font-weight: bold;
    background-color: #B8860B;
    color: white;
}


button.novi-raspored {
    padding: 10px 22px;
    font-size: 1em;
    font-weight: bold;
    background-color: #B8860B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 20px 40px;
    transition: background 0.2s, transform 0.2s;
}

button.novi-raspored:hover {
    background-color: #A67C00;
    transform: scale(1.05);
}